@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
html {
  scroll-behavior: smooth;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
 user-select: none;
}
.downarrow {
 visibility: hidden;
  position: fixed;
  bottom: 10px;
  -webkit-tap-highlight-color: transparent;
  right: 10px;
  z-index: 111;
  cursor: pointer;
  transition: all 1s;
animation: downArrow 1s alternate infinite ease-in;
  background-color: deeppink;
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  border: none !important;
}
.downarrow:hover {
  opacity: 1 !important;
}
@keyframes downArrow {
  from {
   transform: translateY(0);
  }
  to {
      transform: translateY(-30px);
  }
}
body {
  padding-top: 45px;
}
nav {
  width: 100%;
  height: 45px;
  background-color: white ;
  text-align: center;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: fixed;
  top: 0;
  z-index: 100;
}
.dropdown {
  float: left;
} 
#menu {
  display: none;
}
.dropdown-content {
  list-style: none;
}
.dropdown-content li {
  float: left;
  cursor: pointer;
  padding: 10px;
  color: black;
  margin: 0 10px;
}
.about {
  height: auto;
  width: 100%;
 background: rgba(76, 175, 80, 0.3);
 text-align: center;
 padding: 20px;
}
#profile-image {
  border-radius: 50%;
  width: 200px;
  border: 7px blueviolet solid;
  height: 200px;
  object-fit: fill;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about p {
  padding: 20px;
  max-width: 450px;
  letter-spacing: 2px;
  margin: auto;
  line-height: 1.5em;
}
.education {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}
.edu {
  margin: 20px 0;
  border-radius: 5px;
  background-color: black;
  text-align: center;
}

.edu-content {
  min-height: 150px;
  box-shadow: 0 0 8px 0 #ddd;
  color: white;
  padding: 10px;
  vertical-align: middle;
  border-radius: inherit;
  background-color:  #00ABE3;
}
.projects {
  width: 100%;
  text-align: center;
}
.project {
  height: auto;
   flex: 1;
  margin: 5px 20px;
  box-shadow: 0 0 8px 0 #ddd;
  border-radius: 5px;
  margin-bottom: 30px;
}
.project-title {
  background-color: blue;
  box-sizing: border-box;
  padding: 30px;
  margin: 0;
  border-radius: 5px 5px 0 0;
  color: white;
}
.project:nth-child(1) .project-title {
 background-color: gold;
}
.project:nth-child(2) .project-title {
 background-color: black;
}
.project:nth-child(3) .project-title {
 background-color: royalblue;
}
.project:hover {
 box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project-content {
  text-align: left;
  padding: 20px;
  font-size:40px;
}
.project-content p:first-child {
  text-align: center;
 letter-spacing: 2px;
 line-height: 1.5em;
 font-size: 15px;
 margin-bottom: 10px;
}
.project-content button {
  border: 1px #ddd solid;
  padding: 10px 20px;
  color: grey;
  font-weight: 300;
  transition: all 0.3s;
  margin-top: 10px;
}
.contact {
  background-color: lightblue;
  padding: 30px 0;
  text-align: center;
}
.social {
  width: 30%;
}
.fa {
  font-size: 20px ;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  text-align: center ;
  margin: 0 7px;
  border: 2px solid white;
  box-shadow: 0 0 7px -1px black;
}
.fa-linkedin {
  background: #707374;
  color: white;
}
.fa:hover {
  opacity: 0.7;
}
.fa-instagram {
  background: #bc1888;
  color: white;
}
.fa-skype {
  background: #00ABE3;
  color: white;
}
.fa-github {
  background: #000000;
  color: white;
}
.code {
  font-family: 'Ephesis', cursive;
  font-size: 40px;
  color: #645e5e;
}
li:hover {
  color: blue;
}
.main {
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align: center;
}

.heading {
  position: absolute;
  left: 50%;
  width: max-content;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
}
.image {
  border-radius: 50%;
  height: 0;
  width: 0;
  object-fit: fill;
  margin-right: 5px;
  transition: all 1s ;
}

.trans {
 opacity: 1;
 width: 35px;
  height: 35px;
  border: 3px blueviolet solid;
}

.edu p {
  letter-spacing: 2px;
  line-height: 1.5em;
  text-align: center;
}
#haad {
  width: fit-content;
  margin: 0 auto;
}
#img {
  border-radius: 50%;
  width: 40px;
  border: 3px blueviolet solid;
  height: 40px;
  display: none;
  object-fit: fill;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#resume {
  text-decoration: none;
  padding: 5px 5px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  color: blue;
  background-color: white;
  border: 2px blue solid;
  border-radius: 5px;
  transition: color 500ms, background-color 500ms;
}
#resume:hover {
  background-color: blue;
  color: white;
}

#l:hover {
  color: blue;
  cursor: pointer;
}

.allproject {
  display: flex;
  justify-content: center;
}
#pbutton1:hover {
  background-color: gold;
  color: white;
}
#pbutton2:hover {
  background-color: black;
  color: white;
}
#pbutton3:hover {
  background-color: royalblue;
  color: white;
}


button {
  border: none;
  outline: none;
  background: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  color: blue;
  font-weight: bold;
  border: 2px solid blue;
}
button:hover {
  background-color: blue;
  color: white;
}

.contact-content {
  width: 100%;
  padding: 30px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center
}
.email {
  width: 30%;
}
.input {
  margin-bottom: 15px;
  position: relative;
}
.input:last-child {
  margin: 0;
}

textarea:focus {
  outline: none;
}
textarea {
  height: 100px;
  resize: vertical;
}
input, textarea {
  border: none;
  width: 100%;
  padding: 10px 10px;
  box-sizing: border-box;
}

input:focus {
 outline: none;
}
.input-highlight {
  content: "";
  height: 2px;
  width: 0%;
  position: absolute;
  background-color: dodgerblue;
  bottom: 0;
  left: 0;
  transition: width 300ms ease-in;
}
.submit-btn {
  width: 200px;
  height: 30px;
  position: relative;
  clear: both;
  float: left;
  display: inline-block;
  margin-top: 10px;
  
}
.submit-btn span{
   position: absolute;
   width: 0%;
   height: 100%;
   background-color: dodgerblue;
   left: 0;
   bottom: 0;
   transition: all 0.5s ease;
   z-index: 1;
}
#send {
  height: 100%;
  width: 100%;
  color: dodgerblue;
  padding: 0;
  border-radius: 0;
  font-size: 10px;
  border: 2px solid dodgerblue;
  position: absolute;
  left: 0;
  letter-spacing: 2px;
  z-index: 4;
  bottom: 0;
}
#send:hover {
  color: white;
  background-color: transparent;
}



@media screen and (min-width: 700px) {
 
  
  .education-container {
    width: 90%;
    display: inline-block;
    margin: 0 auto;
    max-width: 1000px;
   position: relative;
   padding: 20px;
  }
  .education-container::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    color: gold;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
   z-index: -1;
  }
  .educationAnimation {
    animation: educationAnim 400ms forwards;
  }
  
  
  @keyframes educationAnim {
    from {
      
    }
    to {
      transform: translateX(0);
    }
  }
   .edu {
    width: 50%;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
  }
  .edu::before {
    content: '';
    background-color: grey;
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    display: block;
    z-index: 6;
  }
  .edu:hover::before {
    background-color:  #00ABE3;;
    
  }
  .edu:nth-child(odd) {
     float: left;
     clear: right;
     transform: translate(-40px);
     border-radius: 7px 0 7px 7px;
  }
  .edu:nth-child(odd)::before {
    top: 0;
   right: -40px;
    transform: translate(50%, -50%);
  }
  .edu:nth-child(even) {
   float: right;
   clear: left;
   transform: translate(40px);
   border-radius: 0 7px 7px 7px;
  }
  .edu:nth-child(even)::before {
   top: 0;
   left: -40px;
   transform: translate(-50%, -50%);
  }
  
}
